form {
  max-width: 300px;
}
.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
}
input,
select {
  margin-top: 5px;
  padding: 5px 5px;
}
form button[type="submit"] {
  padding: 5px 20px;
  width: 100%;
}
pre {
  background-color: #f4f4f4;
  padding: 10px;
  max-width: 300px;
  text-align: left;
  user-select: all;
}
